.container {
    background-color: #424141;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.accent {
    color: #ff6314;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: #5296dd;
}

@media screen and (max-width: 767px) {
    .container {
        font-size: 0.5rem;
        width: 100%;
        padding-right: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        font-size: 1rem;
        width: 100%;
        padding-right: 0;
    } 
}
