.container {
    background-color: #424141;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.accent {
    color: #ff6314;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: #5296dd;
}