@media screen and (max-width: 767px) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .video {
        width: 100%;
        height: auto;
    }
}