.container {
    text-align: center;
}

.button {
    background-color: #202020;
    color: #5296dd;
    cursor: pointer;
}

.activeButton {
    color: #ff6314;
    border: "none";
    border-radius: 5px;
    cursor: default;
}

.r {
    color: #5296dd;
}

.subreddit {
    color: #686868;
}