.container {
    text-align: center;
}

.button {
    background-color: #202020;
    color: #5296dd;
    cursor: pointer;
}

.activeButton {
    color: #ff6314;
    border: "none";
    border-radius: 5px;
    cursor: default;
}

.r {
    color: #5296dd;
}

.subreddit {
    color: #686868;
}

@media screen and (max-width: 767px) {
    .container {
        font-size: 0.6rem;
    }

    .button {
        height: 0.8rem;
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        font-size: 0.8rem;
    }

    .button {
        height: 1rem;
        font-size: 0.8rem;
    }
}