.container {
    color: #ffffff;
    display: grid;
    grid-template-columns: 2rem 10rem 55rem;
    font-size: 1rem;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 80%;
    height: 12rem;
    margin: 2rem 10% 2rem 10%;
    background-color: #222222;
    box-shadow: 10px 10px 5px black;
}

.container:hover {
    box-shadow: 10px 10px 5px #ff6314;
}

.count {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    justify-self: center;
    color: gray;
}

.thumbnail {
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
    padding-left: 0.5rem;
    border-left: gray 1px dotted;
}

.infoContainer {
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.title {
    grid-area: 1 / 1 / 2 / 2;
}

.info {
    grid-area: 2 / 1 / 3 / 2;
}

.moreInfo{
    grid-area: 3 / 1 / 4 / 2;
    align-self: start;
}

.mod {
    background-color: green;
    border-radius: 5px;
}
