.input {
    background-color: #202020;
    color: gray;
}

.button {
    background-color: #ff6314;
    border: none;
}

@media screen and (max-width: 767px) {
    .container {
        position: relative;
        left: -2rem;
    }
    
    .input {
        width: 5rem;
        height: 0.6rem;
        font-size: 0.6rem;
    }
  
    .button {
    font-size: 0.6rem;
    height: 1rem;
    }
}