.container {
    color: white;
    margin-left: 10%;
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .container {
        margin-left: 1%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin-left: 2%;
    }
}